n8n/workflows/005-email.json
{
  "name": "005-email",
  "nodes": [
    {
      "parameters": {
        "mailbox": "n8n테스트",
        "postProcessAction": "nothing",
        "format": "resolved",
        "options": {}
      },
      "type": "n8n-nodes-base.emailReadImap",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "d2d6cd7d-1101-45e1-9efb-01cec1a5468f",
      "name": "Naver Mail",
      "credentials": {
        "imap": {
          "id": "l7gqytWMNhQrlzWD",
          "name": "IMAP account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=메일 제목: {{ $json.subject }}\n메일 내용: {{ $json.text }}\n\n----------------------------------\n\n위의 메일 내용을 참고하여 스팸 여부를 판단해줘",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        208,
        0
      ],
      "id": "3779f9f6-d581-4b61-b7bd-af1c4ea8e354",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-3-flash-preview",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        192,
        224
      ],
      "id": "f85988bd-bfa5-4e6f-84c1-5c0ffd784fe8",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "5r6I3cY83rYCIH5d",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n\t\"type\": \"object\",\n\t\"properties\": {\n\t\t\"is_spam\": {\n\t\t\t\"type\": \"boolean\"\n\t\t},\n        \"reason\":{\n          \"type\":\"string\"\n        }\n\t}\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        464,
        160
      ],
      "id": "39e0178c-f34d-4ca6-885a-da9df7ef8e79",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"is_spam\": \"스팸 여부\",\n\t\"reason\": \"스팸 판별 이유\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        352,
        256
      ],
      "id": "dbbbc887-75ac-4150-a8ff-7f776343e1ed",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output.is_spam }}",
                    "rightValue": false,
                    "operator": {
                      "type": "boolean",
                      "operation": "equals"
                    },
                    "id": "df2bf7c4-0f60-42a5-844e-071834fe3515"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "스팸 X"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "3789f8f2-b0d9-4e6f-8a83-8c51bfa60770",
                    "leftValue": "={{ $json.output.is_spam }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "스팸 O"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        592,
        0
      ],
      "id": "15b52cfc-22ef-41b6-b5ad-ba8e5f5475e2",
      "name": "Switch"
    },
    {
      "parameters": {
        "authentication": "coreImapAccount",
        "resource": "email",
        "operation": "moveEmail",
        "sourceMailbox": {
          "__rl": true,
          "value": "n8n테스트",
          "mode": "list",
          "cachedResultName": "n8n테스트"
        },
        "emailUid": "={{ $('Naver Mail').item.json.attributes.uid }}",
        "destinationMailbox": {
          "__rl": true,
          "value": "Deleted Messages",
          "mode": "list",
          "cachedResultName": "Deleted Messages"
        }
      },
      "type": "n8n-nodes-imap.imap",
      "typeVersion": 1,
      "position": [
        880,
        96
      ],
      "id": "6a871324-9b7d-48d2-93e3-9e34c4298532",
      "name": "MoveEmail email",
      "credentials": {
        "imap": {
          "id": "l7gqytWMNhQrlzWD",
          "name": "IMAP account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "coreImapAccount"
      },
      "type": "n8n-nodes-imap.imap",
      "typeVersion": 1,
      "position": [
        896,
        -128
      ],
      "id": "be4ee837-a97c-4b8a-957f-59e69ee29511",
      "name": "LoadMailboxList mailbox",
      "credentials": {
        "imap": {
          "id": "l7gqytWMNhQrlzWD",
          "name": "IMAP account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Naver Mail": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        []
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [],
        [
          {
            "node": "MoveEmail email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LoadMailboxList mailbox": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "ee4adfad-e2a9-47d6-9c10-a7514f038991",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d2db428242075c5b295ce72f32db72d0fee3f583be4557fc8363d7db911dbabc"
  },
  "id": "qb4kJxeHCGs72vkK",
  "tags": []
}