n8n/workflows/beginner-daily-quote.json
{
  "name": "초보자 예시 - 매일 랜덤 명언 가져오기",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * 1-5"
            }
          ]
        }
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000001",
      "name": "매일 오전 9시 (평일)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [240, 300],
      "notes": "평일(월~금) 오전 9시에 자동으로 워크플로우를 시작합니다."
    },
    {
      "parameters": {
        "url": "https://api.quotable.io/random",
        "options": {}
      },
      "id": "a1b2c3d4-0002-0002-0002-000000000002",
      "name": "명언 API 호출",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300],
      "notes": "quotable.io 무료 API에서 랜덤 명언을 가져옵니다."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "field-1",
              "name": "명언",
              "value": "={{ $json.content }}",
              "type": "string"
            },
            {
              "id": "field-2",
              "name": "작가",
              "value": "={{ $json.author }}",
              "type": "string"
            },
            {
              "id": "field-3",
              "name": "글자수",
              "value": "={{ $json.length }}",
              "type": "number"
            },
            {
              "id": "field-4",
              "name": "메시지",
              "value": "=\"오늘의 명언: \" + $json.content + \" - \" + $json.author",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-0003-0003-0003-000000000003",
      "name": "필요한 데이터만 추출",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [680, 300],
      "notes": "API 응답에서 필요한 필드만 골라서 새로운 형태로 만듭니다."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-1",
              "leftValue": "={{ $json.글자수 }}",
              "rightValue": 100,
              "operator": {
                "type": "number",
                "operation": "lte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a1b2c3d4-0004-0004-0004-000000000004",
      "name": "짧은 명언인가?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [900, 300],
      "notes": "글자수가 100자 이하면 '짧은 명언', 초과하면 '긴 명언'으로 분기합니다."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "field-5",
              "name": "최종메시지",
              "value": "=\"[짧고 강렬한 명언] \" + $json.메시지",
              "type": "string"
            },
            {
              "id": "field-6",
              "name": "태그",
              "value": "short",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-0005-0005-0005-000000000005",
      "name": "짧은 명언 처리",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1120, 200],
      "notes": "짧은 명언일 때 처리하는 경로입니다."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "field-7",
              "name": "최종메시지",
              "value": "=\"[오늘의 긴 명언] \" + $json.메시지",
              "type": "string"
            },
            {
              "id": "field-8",
              "name": "태그",
              "value": "long",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-0006-0006-0006-000000000006",
      "name": "긴 명언 처리",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1120, 400],
      "notes": "긴 명언일 때 처리하는 경로입니다."
    },
    {
      "parameters": {
        "inputsToMerge": "all"
      },
      "id": "a1b2c3d4-0007-0007-0007-000000000007",
      "name": "두 경로 합치기",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [1340, 300],
      "notes": "짧은/긴 명언 두 경로를 다시 하나로 합칩니다."
    }
  ],
  "connections": {
    "매일 오전 9시 (평일)": {
      "main": [
        [{ "node": "명언 API 호출", "type": "main", "index": 0 }]
      ]
    },
    "명언 API 호출": {
      "main": [
        [{ "node": "필요한 데이터만 추출", "type": "main", "index": 0 }]
      ]
    },
    "필요한 데이터만 추출": {
      "main": [
        [{ "node": "짧은 명언인가?", "type": "main", "index": 0 }]
      ]
    },
    "짧은 명언인가?": {
      "main": [
        [{ "node": "짧은 명언 처리", "type": "main", "index": 0 }],
        [{ "node": "긴 명언 처리", "type": "main", "index": 0 }]
      ]
    },
    "짧은 명언 처리": {
      "main": [
        [{ "node": "두 경로 합치기", "type": "main", "index": 0 }]
      ]
    },
    "긴 명언 처리": {
      "main": [
        [{ "node": "두 경로 합치기", "type": "main", "index": 1 }]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": ["초보자", "예시", "명언"],
  "triggerCount": 1,
  "updatedAt": "2026-05-04T00:00:00.000Z",
  "versionId": "beginner-v1"
}
